*{
   margin:0;
   padding:0;

}
.nav-wrapper{
   color:#fff;
   background:#000;
   position: relative;
   top:0;
   overflow: hidden;
   z-index: 100;
   
}

.inner-wrap{
   margin:0 auto;
   width:95%;
}
#logo{
   font-family:Chicle;

}

.fa-fire{
   color:rgb(224, 60, 60);

}

ul li a{
   font-family: 'Fjalla One', sans-serif;
}

#left-nav a:hover{
   background:rgb(224, 60, 60);
}

#right-mobile a:hover{
   background:rgb(224, 60, 60);
}

#left-nav{
   margin-left:13rem;
   font-size:3rem;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
}


#subMenu1{
  position:absolute;
  z-index: 1;
  width:100%;
  background:#fff;
  height:30vh;
  margin:0 auto;
  padding-left:4rem;
  display:none;
}

#subMenu1 .responsive-img{
   width:70%;
   height:70%;   
   padding:10px 12px;
   position: relative;
}

#subMenu1 p{
  position: absolute;
  color:#fff;
  margin-top:-5rem;
  margin-left:1.5rem;
}
#subMenu2{
  position:absolute;
  z-index: 1;
  width:100%;
  background:#fff;
  height:30vh;
  margin:0 auto;
  padding-left:4rem;
  display:none;
}

#subMenu2 .responsive-img{
   width:50%;
   height:50%;   
   padding:10px 12px;
   position: relative;
}

#subMenu2 p{
  position: absolute;
  color:#000;
  margin-top:-5rem;
  margin-left:1.5rem;
}

#subMenu3{
  position:absolute;
  z-index: 1;
  width:100%;
  background:#fff;
  height:30vh;
  margin:0 auto;
  padding-left:4rem;
  display:none;
}

#subMenu3 .responsive-img{
   width:70%;
   height:60%;   
   padding:10px 12px;
   position: relative;
}

#subMenu3 p{
  position: absolute;
  color:#fff;
  margin-top:-5rem;
  margin-left:1.5rem;
}

#subMenu4{
  position:absolute;
  z-index: 1;
  width:100%;
  background:#ccc;
  height:30vh;
  margin:0 auto;
  padding-left:4rem;
  display:none;
}

.fa-search,
.fa-shopping-cart,
.fa-user-circle{
   font-size:1.4rem;
}

.header-image{
  background-image:url('../img/headphone.jpeg');
   padding:190px;
   background-size: cover;
   width:100%;
   height:auto;
   position:relative; 
}

input:input[type=search]{
   background-color: #fff;
  color:#fff;
}



#shopNow:hover{
   background-color:rgb(255, 20, 20);

}

#shopNow{
   background-color:rgb(224, 60, 60);
   color:#fff;
   padding:20px;
   text-align: center;
   margin-left:30vw;
}




.header-image h1{
   color:#fff;
}



.mainContent{
   
   width:95%;
   margin: 3rem auto;
   
}



.landingPhones{
   width:90%;
   height:100%;
}

.signUp{
   background:rgba(0, 0, 0, 0.938);
   margin-top:2rem;

}

.signUpWrap{
   width:50%;
   margin:0 auto;
   text-align: center;
   color:#fff;
   padding:1rem;

}

.fa-envelope{
   font-size:3rem;
}

.materialize-textarea{
   border:1px solid #fff;
   background-color:#fff;
}

form{
   background:#fff;
   width:70%;
}

.footerBottom{
   background:rgba(0, 0, 0, 0.938);
   padding-top:3rem;
   border-top:1px solid #fff;
   padding-bottom:3rem;
  
}

.footerWrap{
   color:#fff;
   margin:0 auto;
   width:60%;
}


/* Inventory Page */
.InventoryHeaderImg{
  background-image:url('../img/model7.jpeg');
  padding:190px;
  background-size: contain;
  width:100%;
  height:auto;
}

.InventoryHeaderImg h3{
  color:#fff;
}

.infowrap{
  text-align: center;
  margin: 0 auto;
  width:60%;
  }

  .headphones img{
    width:70%;
  }

  .banner{
  background-image:url('../img/model4.jpeg');
  padding:200px;
  background-size: cover;
  width:100%;
  height:auto;
  background-position: 30% 30%; 


  }

  .headphoneBanner{
    margin-top:3rem;
  }

  .submenuHP{
    margin: 0 auto;
  }


  .header-image2{
    background-image:url('../img/model.jpeg');
    padding:120px;
    background-size: cover;
    width:100%;
    height:auto;
    background-position: 30% 30%; 
    color:#fff;
 }
 
 #contact{
  margin-top: 2rem;
}
 
form input[type = "text"], form textarea {
  width: 80%;
  padding: 10px;
  background:#ccc;
  color: #404040;
  margin-bottom: 10px;
  border: 0;
}

#contact .btn{
  background:rgb(255, 20, 20);
}

.wrap{
  margin:3rem auto;
  width:80%;
}

.galleryImgs{
  height:100%;
  width:100%;
}
.wrap .galleryImgs img{
  width:30%;
  height:auto;
}


.specsWrap{
  width:50%;
  margin:0 auto;

}

.specs{
  background:#e4e3e3;
  padding:100px;
}
#tech{
  width:70%;
  margin:3rem auto;
  font-size:1.3rem;
}

#tech ul li{
  border-bottom: rgb(146, 144, 144) 1px solid;
}

.galleryWrap{
  background: #0a0a0a;
  color:#fff;
}

.galleryWrap img{
  height:80%;
}

.carousel{
  height:100vh;
}

.wrapCarousel{
  height:100vh;
}

.headPhoneDetails{
  margin-top:3rem;
  background:#0a0a0a;
}

.owl-carousel {
  margin-top:7rem;
  
}

.featuresDesc{
  margin:3rem auto;
}

.secWrap{
  width:50%;
  margin:3rem auto;
}

a.btn{
  color:#0a0a0a;
  background:#fff;
  border:2px solid #0a0a0a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.btn:hover{
  background:rgb(255, 20, 20);
  color:#fff;
  border: 0;
}

.header-image3{
  background-image:url('../img/earbuds.jpeg');
    padding:120px;
    background-size: cover;
    width:100%;
    height:auto;
    background-position: 80% 80%; 
    color:#fff;

}